h2{
    text-align: center;
    color: black;
}

table{
    border: 1px solid red;
    text-align: center;
}
footer{
    text-align: center;
    color: blue;
    font-family: 'Lemonada', cursive;
}
a{
    
    background-color: aqua;
}